.header, .top, .footer{
    background-color: #1f2937;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.header-links, .top-text{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

button, .call{
    background-color: #3882f6;
}

.info-header{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.bottom{
    background-color: #e5e7eb;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;
}